<div class="p-4">
    <h2 mat-dialog-title>Profile</h2>
    <mat-dialog-content class="mat-typography">
        <div class="p-3 d-flex flex-column gap-3 mt-3" style="width: 700px;">
            <div class="d-flex flex-row gap-3 mt-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Name</mat-label>
                    <input matInput [formControl]="profObj['full_name']" required>
                    <mat-error>{{getErrorMessage(profObj['full_name'])}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="profObj['email']" required [disabled]="true">
                    <mat-error>{{getErrorMessage(profObj['email'])}}</mat-error>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Bio</mat-label>
                <textarea matInput [formControl]="profObj['bio']" required></textarea>
                <mat-error>{{getErrorMessage(profObj['bio'])}}</mat-error>
            </mat-form-field>

            <div class="d-flex flex-row gap-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Phone</mat-label>
                    <input matInput [formControl]="profObj['phone']" maxlength="10" required>
                    <mat-error>{{getErrorMessage(profObj['phone'])}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>City</mat-label>
                    <input matInput [formControl]="profObj['city']" required>
                    <mat-error>{{getErrorMessage(profObj['city'])}}</mat-error>
                </mat-form-field>
            </div>


            <div class="d-flex flex-row gap-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>State</mat-label>
                    <input matInput [formControl]="profObj['state']" required>
                    <mat-error>{{getErrorMessage(profObj['state'])}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Zip</mat-label>
                    <input matInput [formControl]="profObj['zip']" maxlength="6" required>
                    <mat-error>{{getErrorMessage(profObj['zip'])}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="d-flex flex-row gap-3">
        <button mat-button mat-dialog-close class="btn btn-secondary">Cancel</button>
        <button [disabled]="hasFormErrors()" class="btn btn-success w-25" (click)="update()">Update</button>
    </mat-dialog-actions>
</div>
<!-- cdkFocusInitial -->