<div class="d-flex flex-row align-items-center container" style="margin-top: 10rem;">
    <div class="d-flex flex-column gap-5 w-50">
        <h1 style="font-size: 6rem;font-weight: 700;letter-spacing: -5px;">Diversify your <br> portfolio</h1>
        <p class="w-75 fs-5">Make informed investment decisions effortlessly with our intuitive app, providing
            comprehensive data, risk analysis, and portfolio management tools.
        </p>
        <button class="secBtn w-25" (click)="seeCamp()">See Campaigns</button>
    </div>
    <div class="w-50 d-flex justify-content-end">
        <img src="../../../assets/header.png" alt="Header Img">
    </div>
</div>