<div class="px-4">
    <h1 class="mt-2">Pitches</h1>
    <hr class="my-4">
    <div class="d-flex flex-row gap-4 mb-4">
        <span class="navBtn">
            <a>
                Campaigns
            </a>
        </span>

        <span class="navBtn">
            <a>
                Profile
            </a>
        </span>

        <span class="navBtn">
            <a>
                Create Pitch
            </a>
        </span>
    </div>

    <div class="row w-100 gap-5 ">
        <div class="d-flex flex-row align-items-center card col-lg-2">
            <img src="" alt="...">
            <div class="d-flex flex-column gap-3 p-3">
                <h1>Pitch Title</h1>
                <p>Lorem Description ashdasd asd asdasd asdas asdas as a a asda asd</p>
            </div>
        </div>
    </div>
</div>