<div class="mx-4">
    <h1 class="my-5">Futuristic Startups</h1>
    <div class="row  w-100 gap-5">
        <div class="d-flex flex-column card col-lg-2">
            <img src="" alt="">
            <div class="d-flex flex-column gap-3 p-3">
                <h2>Startup Name</h2>
                <div>
                    <div>
                        <p>Mumbai, MH</p>
                    </div>
                    <div>
                        <p>52.04%</p>
                    </div>
                    <div>
                        <p>22 Days Remaining</p>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <h3>2,00,000</h3>
                    <button class=" tertBtn">View</button>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column card col-lg-2">
            <img src="" alt="">
            <div class="d-flex flex-column gap-3 p-3">
                <h2>Startup Name</h2>
                <div>
                    <div>
                        <p>Mumbai, MH</p>
                    </div>
                    <div>
                        <p>52.04%</p>
                    </div>
                    <div>
                        <p>22 Days Remaining</p>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <h3>2,00,000</h3>
                    <button class=" tertBtn">View</button>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column card col-lg-2">
            <img src="" alt="">
            <div class="d-flex flex-column gap-3 p-3">
                <h2>Startup Name</h2>
                <div>
                    <div>
                        <p>Mumbai, MH</p>
                    </div>
                    <div>
                        <p>52.04%</p>
                    </div>
                    <div>
                        <p>22 Days Remaining</p>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <h3>2,00,000</h3>
                    <button class=" tertBtn">View</button>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column card col-lg-2">
            <img src="" alt="">
            <div class="d-flex flex-column gap-3 p-3">
                <h2>Startup Name</h2>
                <div>
                    <div>
                        <p>Mumbai, MH</p>
                    </div>
                    <div>
                        <p>52.04%</p>
                    </div>
                    <div>
                        <p>22 Days Remaining</p>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <h3>2,00,000</h3>
                    <button class=" tertBtn">View</button>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column card col-lg-2">
            <img src="" alt="">
            <div class="d-flex flex-column gap-3 p-3">
                <h2>Startup Name</h2>
                <div>
                    <div>
                        <p>Mumbai, MH</p>
                    </div>
                    <div>
                        <p>52.04%</p>
                    </div>
                    <div>
                        <p>22 Days Remaining</p>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <h3>2,00,000</h3>
                    <button class=" tertBtn">View</button>
                </div>
            </div>
        </div>


    </div>
</div>