<div class="d-flex flex-row h-100">
    <div style="background-color: #062527;" class="w-50"></div>
    <div class="w-50">
        <div class="d-flex justify-content-center align-items-center h-100">
            <form action="" class="d-flex flex-column gap-3 w-50" (submit)="submit()">
                <h1 class="text-center my-3">Sign in to continue</h1>
                <input type="email" placeholder="Email" name="email" [(ngModel)]="loginForm.email">
                <input type="password" placeholder="Password" name="password" [(ngModel)]="loginForm.password">
                <div class="d-flex justify-content-between">
                    <small class="d-flex align-items-center gap-2"><input type="checkbox">Remember Me</small>
                    <small><a href="">Forgot Password?</a></small>
                </div>
                <button class="prmBtn">Sign In</button>
                <small class="text-center">Are you new mate? <a routerLink="/register">Register</a></small>
            </form>
        </div>
    </div>
</div>