<div class="d-flex flex-row">
    <div class=""><img src="../../../assets/log.png" alt="" style="object-fit:fill;aspect-ratio: 8/9; height: 100vh;">
    </div>
    <div class="w-100">
        <div class="d-flex justify-content-center align-items-center h-100">
            <form action="" class="d-flex flex-column gap-2 w-50" (submit)="submit()">
                <h1 class="text-center my-3">Sign in to continue</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="logObj['email']" required class="w-100">
                    <mat-error>{{getErrorMessage(logObj['email'])}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput class="w-100" [formControl]="logObj['password']" required>
                    <mat-error>{{getErrorMessage(logObj['email'])}}</mat-error>
                </mat-form-field>

                <div class="d-flex justify-content-between">
                    <small class="d-flex align-items-center gap-2" style="visibility: hidden;"><input
                            type="checkbox">Remember Me</small>
                    <small><a routerLink="/forgetpass">Forgot Password?</a></small>
                </div>
                <button class="prmBtn mt-3" [disabled]="hasFormErrors()">Sign In</button>
                <small class="text-center">Are you new mate? <a routerLink="/register">Register</a></small>
            </form>
        </div>
    </div>
</div>